<launch>
  <arg name="enable_server" default="true"/>
  <arg name="enable_lidar" default="false"/>
  <arg name="enable_gps" default="true"/>
  <arg name="enable_imu" default="true"/>

  <arg name="ws_url" default="ws://192.168.31.205:8080/ws-delivery-native"/>
  <arg name="api_base_url" default="http://192.168.31.205:8080/api/v1/robot"/>
  <arg name="secret_key" default="DATN_2025_2_GIAP"/>

  <arg name="enable_order_listener" default="true"/>
  <arg name="enable_update_location" default="true"/>
  <arg name="enable_listen_orders" default="false"/>

  <arg name="esp32_baud" default="57600"/>
  <arg name="arduino_baud" default="9600"/>

  <arg name="gps_port" default="/dev/ttyUSB3"/>
  <arg name="gps_baud" default="115200"/>

  <arg name="imu_bus" default="1"/>
  <arg name="imu_address" default="0x29"/>
  <arg name="imu_rate_hz" default="100.0"/>

  <include file="$(find new_robot)/launch/serial_test.launch">
    <arg name="esp32_baud" value="$(arg esp32_baud)"/>
    <arg name="arduino_baud" value="$(arg arduino_baud)"/>
  </include>

  <group if="$(arg enable_gps)">
    <include file="$(find new_robot)/launch/gps.launch">
      <arg name="port" value="$(arg gps_port)"/>
      <arg name="baud" value="$(arg gps_baud)"/>
    </include>
  </group>

  <group if="$(arg enable_imu)">
    <include file="$(find new_robot)/launch/imu.launch">
      <arg name="bus" value="$(arg imu_bus)"/>
      <arg name="address" value="$(arg imu_address)"/>
      <arg name="rate_hz" value="$(arg imu_rate_hz)"/>
    </include>
  </group>

  <group if="$(arg enable_server)">
    <include file="$(find new_robot)/launch/server.launch">
      <arg name="ws_url" value="$(arg ws_url)"/>
      <arg name="api_base_url" value="$(arg api_base_url)"/>
      <arg name="secret_key" value="$(arg secret_key)"/>

      <arg name="enable_order_listener" value="$(arg enable_order_listener)"/>
      <arg name="enable_update_location" value="$(arg enable_update_location)"/>
      <arg name="enable_listen_orders" value="$(arg enable_listen_orders)"/>

      <!-- GPS already started above from bringup; don't double-launch it. -->
      <arg name="enable_gps" value="false"/>
      <!-- Arduino bridge also started via serial_test.launch above. -->
      <arg name="enable_arduino_bridge" value="false"/>
    </include>
  </group>

  <group if="$(arg enable_lidar)">
    <include file="$(find new_robot)/launch/lidar_xv11.launch"/>
  </group>
</launch>
