<launch>
  <arg name="enable_server" default="true"/>
  <arg name="enable_lidar" default="false"/>
  <arg name="enable_navigation" default="false"/>
  <arg name="enable_gps" default="true"/>
  <arg name="enable_imu" default="true"/>

  <arg name="ws_url" default="ws://192.168.31.205:8080/ws-delivery-native"/>
  <arg name="api_base_url" default="http://192.168.31.205:8080/api/v1/robot"/>
  <arg name="secret_key" default="DATN_2025_2_GIAP"/>

  <arg name="enable_order_listener" default="true"/>
  <arg name="enable_update_location" default="true"/>
  <arg name="enable_listen_orders" default="false"/>

  <arg name="esp32_baud" default="57600"/>
  <arg name="arduino_baud" default="9600"/>

  <arg name="gps_port" default="/dev/ttyUSB3"/>
  <arg name="gps_baud" default="115200"/>

  <arg name="imu_bus" default="1"/>
  <arg name="imu_address" default="0x29"/>
  <arg name="imu_rate_hz" default="100.0"/>

  <include file="$(find new_robot)/launch/bringup.launch">
    <arg name="enable_server" value="$(arg enable_server)"/>
    <arg name="enable_lidar" value="$(arg enable_lidar)"/>
    <arg name="enable_gps" value="$(arg enable_gps)"/>
    <arg name="enable_imu" value="$(arg enable_imu)"/>

    <arg name="ws_url" value="$(arg ws_url)"/>
    <arg name="api_base_url" value="$(arg api_base_url)"/>
    <arg name="secret_key" value="$(arg secret_key)"/>

    <arg name="enable_order_listener" value="$(arg enable_order_listener)"/>
    <arg name="enable_update_location" value="$(arg enable_update_location)"/>
    <arg name="enable_listen_orders" value="$(arg enable_listen_orders)"/>

    <arg name="esp32_baud" value="$(arg esp32_baud)"/>
    <arg name="arduino_baud" value="$(arg arduino_baud)"/>

    <arg name="gps_port" value="$(arg gps_port)"/>
    <arg name="gps_baud" value="$(arg gps_baud)"/>

    <arg name="imu_bus" value="$(arg imu_bus)"/>
    <arg name="imu_address" value="$(arg imu_address)"/>
    <arg name="imu_rate_hz" value="$(arg imu_rate_hz)"/>
  </include>

  <group if="$(arg enable_navigation)">
    <include file="$(find new_robot)/launch/navigation_dwa.launch"/>
  </group>
</launch>
