<launch>
  <!-- Main entrypoint after refactor -->
  <arg name="enable_server" default="true"/>
  <arg name="enable_lidar" default="false"/>
  <arg name="enable_navigation" default="false"/>

  <arg name="esp32_baud" default="57600"/>
  <arg name="arduino_baud" default="9600"/>

  <arg name="ws_url" default="ws://192.168.31.205:8080/ws-delivery-native"/>
  <arg name="api_base_url" default="http://192.168.31.205:8080/api/v1/robot"/>
  <arg name="secret_key" default="DATN_2025_2_GIAP"/>

  <arg name="enable_order_listener" default="true"/>
  <arg name="enable_update_location" default="true"/>
  <arg name="enable_listen_orders" default="false"/>

  <include file="$(find new_robot)/launch/full.launch">
    <arg name="enable_server" value="$(arg enable_server)"/>
    <arg name="enable_lidar" value="$(arg enable_lidar)"/>
    <arg name="enable_navigation" value="$(arg enable_navigation)"/>

    <arg name="esp32_baud" value="$(arg esp32_baud)"/>
    <arg name="arduino_baud" value="$(arg arduino_baud)"/>

    <arg name="ws_url" value="$(arg ws_url)"/>
    <arg name="api_base_url" value="$(arg api_base_url)"/>
    <arg name="secret_key" value="$(arg secret_key)"/>

    <arg name="enable_order_listener" value="$(arg enable_order_listener)"/>
    <arg name="enable_update_location" value="$(arg enable_update_location)"/>
    <arg name="enable_listen_orders" value="$(arg enable_listen_orders)"/>
  </include>
</launch>
